.tab-content
    color:  black
    background-color: #fcfaf4
    padding:  5px 15px

.nav-pills
  & > li
    width: 50%
    min-width: 120px

    & > a
      transitionEaseInOut(400ms)
      border-radius: 0
      background-color: #d6dadc
      &:hover
        transitionEaseInOut(400ms)

    & + li
      margin-left: 0

    &.active
      & > a
        &,
        &:hover,
        &:focus
          color: black
          background-color: #fcfaf4
          transitionEaseInOut(400ms)

.tabs-custom
  margin-left:  0
  padding-left: 12%
  padding-right: 0
  max-width: 800px

  & ul
    width: 100%

.tab-pane
  padding: 4%

input.form-control
  &::-webkit-input-placeholder /* Chrome/Opera/Safari */
    color: #777777

  &::-moz-placeholder /* Firefox 19+ */
    color: #777777

  &:-ms-input-placeholder  /* IE 10+ */
    color: #777777

  &:-moz-placeholder  /* Firefox 18- */
    color: #777777
  &:focus
    border-color: #777
    outline: 0
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px #777
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px #777

.button
  background-color: #f18700
  color white
  transitionEaseInOut(400ms)
  &:hover
    transitionEaseInOut(400ms)
    background-color: #e6e6e6
    border-color: #f18700
  &:active
    transitionEaseInOut(400ms)
    background-color white
    border-color black

@media (min-width: 857px)
  #tabs
    margin-right: auto

@media (max-width: 857px)
  .tabs-custom
    width: 90%
    margin: auto !important
    padding-right: 0
    padding-left: 0
