#tabs .tab-content
  color  black
  background-color #e5e3dc
  padding  5px 15px
  #tabs .nav-pills > li > a {
    border-radius: 0;
  }
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus
  color black
  background-color #e5e3dc
.nav-pills > li > a
  border-radius 0
  background-color #d6dadc
.nav-pills > li + li
     margin-left: 0
.tabs-custom
  margin-left  0
  padding-left 12%
  padding-right 0
  width 51%
.nav-pills > li
  width 50%
  min-width 120px
.tabs-custom ul
  width 100%
@media (max-width: 857px)
  .tabs-custom
    width 90%
@media (max-width: 600px)
  .tabs-custom
    padding-right 0
    padding-left 0
    margin-right 0
    margin-left 0